<div class="form-container" {{ stimulus_controller('cta', {
    formUrl: path('formContattiAjax'),
}) }}>
    <form
        method="post"
        action="{{ path('formContatti') }}"
        {{ stimulus_action('cta', 'onSubmit') }}
        {{ stimulus_target('cta', 'form') }}
    >
        <div class="row justify-content-center">
            <div class="col-12">
                {{ form_errors(ctaForm) }}
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    {{ form_widget(ctaForm.nome, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(ctaForm.nome) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(ctaForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(ctaForm.email) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(ctaForm.telephone, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(ctaForm.telephone) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(ctaForm.richiesta, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(ctaForm.richiesta) }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="respect">
                    <b>La tua mail verrà trattata con rispetto:</b> non la utilizzeremo per inviarti messaggi non richiesti, spam o altre
                    cose che darebbero fastidio anche a noi. Ovviamente ogni informazione è confidenziale e ogni richiesta è gratuita e non impegnativa.
                </p>
            </div>
            <div class="col-12">
                <div class="form-check">
                    {% set termsOfUseFormGroup %}
                        {{ form_widget(ctaForm.consenso, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(ctaForm.consenso, null, {'label_attr': {'class': 'form-check-label'}}) }}
                    {% endset %}
                    {{ termsOfUseFormGroup|replace({'#TERMS_OF_USE_LINK#': 'informativa sulla privacy'})|raw }}
                </div>
                <div class="form-btn">
                    {{ form_widget(ctaForm.submit, {attr:{class:'btn btn-primary rounded-pill'}}) }}
                </div>
            </div>
        </div>
        {{ form_rest(ctaForm) }}
    </form>
</div>

