<section class="cta" aria-label="Contattaci">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <p>
                    {{ textTitle | raw }}
                </p>
                <a href="mailto:info@pontedilana.it" class="btn btn-outline-primary rounded-pill">{{ textButton }}</a>
            </div>
        </div>
    </div>
</section>
