<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('build/favicon/site.webmanifest') }}">
<link rel="mask-icon" href="{{ asset('build/favicon/safari-pinned-tab.svg') }}" color="#444444">
<link rel="shortcut icon" href="{{ asset('build/favicon/favicon.ico') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{{ asset('build/favicon/browserconfig.xml') }}">
<meta name="theme-color" content="#13527C">
