<footer class="mt-auto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <img src="{{ asset('build/images/icona-pontedilana.svg') }}" alt="Pontedilana">
                <p>
                    <b>Pontedilana Srls</b><br/>
                    Sede operativa: Via San Vigilio 6 - 31044 Montebelluna - Treviso<br/>
                    Sede legale: Via Regina Cornaro 17 / interno 10 - 31044 Montebelluna - Treviso<br/>
                    Tel <a href="tel:+3904231916265">+39 0423 1916265</a> - Email <a href="mailto:info@pontedilana.it">info@pontedilana.it</a> - PEC <a href="mailto:pontedilana@legalmail.it">pontedilana@legalmail.it</a><br/>
                    P. IVA e CODICE FISCALE 05064850265 - REA TV-423128 - Cap. Sociale 1.000 euro i.v.
                </p>
                <div class="partner">
                    <p><b>Partner</b></p>
                    <ol>
                        <li>
                            <img src="{{ asset('build/images/partner/confcommercio.jpg') }}" alt="Confcommercio">
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ asset('build/images/partner/iubenda.png') }}" alt="iubenda">
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <ul>
                    <li><a href="https://www.facebook.com/pontedilana/" target="_blank" title="Link alla pagina Facebook"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/pontedilana/" target="_blank" title="Link al profilo Instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/pontedilana/" target="_blank" title="Link al profilo Linkedin"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                <p>
                    <span>Pontedilana Srls <i class="fal fa-copyright"></i> {{ 'now'|date('Y') }}</span> -

                </p>
            </div>
        </div>
    </div>

</footer>
