<header id="navbar_top">
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('build/images/logo-pontedilana.svg') }}" alt="Logo Pontedilana">
            </a>
            <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
                <i class="far fa-xmark"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link {{ activeLink(['contatti']) }}" href="{{ path('contatti') }}" {{ ariaCurrent(['contatti']) }}><span>Contatti</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
