{#list links#}
<section class="list-links" aria-label="Lista servizi offerti">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <ul>
                    <li><a href="{{ path('analisi-consulenza') }}" class="{{ activeLink(['analisi-consulenza']) }}" {{ ariaCurrent(['analisi-consulenza']) }}>Analisi e consulenza sulla strategia</a></li>
                    <li><a href="{{ path('creativita-design') }}" class="{{ activeLink(['creativita-design']) }}" {{ ariaCurrent(['creativita-design']) }}>Creatività e design</a></li>
                    <li><a href="{{ path('sviluppo-web') }}" class="{{ activeLink(['sviluppo-web']) }}" {{ ariaCurrent(['sviluppo-web']) }}>Sviluppo web</a></li>
                    <li><a href="{{ path('strategia-marketing') }}" class="{{ activeLink(['strategia-marketing']) }}" {{ ariaCurrent(['strategia-marketing']) }}>Strategia marketing</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{#/list links#}
