{% block opengraph %}
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:site_name" content="Pontedilana" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ absolute_url(asset('build/images/logo-social.jpg')) }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="pontedilana.it">
    <meta property="twitter:url" content="{{ app.request.uri }}">
    <meta name="twitter:title" content="{{ meta.title }}">
    <meta name="twitter:description" content="{{ meta.description }}">
    <meta name="twitter:image" content="{{ absolute_url(asset('build/images/logo-social.jpg')) }}">
{% endblock %}
