{% extends 'frontend/base.html.twig' %}

{% block title %}{{ meta.title }}{% endblock %}
{% block meta_description %}{{ meta.description }}{% endblock %}

{% block body %}

    {{ include("frontend/common/_header.html.twig") }}

    <main class="contatti">

        {#form#}
        <section class="forminfo" aria-labelledby="forminfo-title">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-6 forminfo_form">
                        <h1 id="forminfo-title">
                            Facciamo qualcosa di bello insieme?
                        </h1>
                        <p>
                            Brand identity, sito internet, web marketing: tutto quello che creeremo racconterà la tua storia, unica, preziosa, memorabile.
                        </p>
                        <p>
                            <b>Ti aspettiamo qui</b>, pronti per dare il meglio.
                        </p>
                        {% if formProcessed == true %}
                        {{ include('frontend/common/_cta-thanks.html.twig') }}
                        {% else %}
                        {{ render(controller('App\\Controller\\Frontend\\CallToActionController::contatti', {request: app.request, formProcessed: formProcessed})) }}
                        {% endif %}
                    </div>
                    <div class="col-12 col-xl-3 offset-xl-1 forminfo_info">
                        <p>
                            <b>Pontedilana</b><br/>
                            Via San Vigilio 6<br/>
                            31044 Montebelluna - Treviso
                        </p>
                        <p>
                            Tel <a href="tel:+3904231916265">+39 0423 1916265</a>
                        </p>
                        <p>
                            <a href="mailto:info@pontedilana.it">info@pontedilana.it</a>
                        </p>
                        <p>
                            Seguici su
                        </p>
                        <ul class="d-flex justify-content-center">
                            <li><a href="https://www.facebook.com/pontedilana/" target="_blank" title="Link alla pagina Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/pontedilana/" target="_blank" title="Link al profilo Instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/pontedilana/" target="_blank" title="Link al profilo Linkedin"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {#/form#}

        <a id="lavora-con-noi" class="anchor">&nbsp;</a>

        {#entra nel nostro team#}
        <section class="team" aria-label="Entra nel nostro team: lavoriamo insieme">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-xl-3">
                        <h2 class="text-start text-lg-end">
                            Entra nel <br/>nostro team: <br/>lavoriamo <br/>insieme
                        </h2>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-7 d-flex align-items-center">
                        <div>
                            <p>
                                Amiamo conoscere le persone e scoprire le loro attitudini e competenze perché sappiamo che il confronto,
                                la condivisione di idee, l’esperienza e la progettualità sono elementi necessari per fare bene il nostro lavoro.
                            </p>
                            <p>
                                I nostri team sono fluidi, composti da collaboratori esterni con Partita Iva (fotografi, social media
                                manager, copywriter, seo specialist, tipografie e serigrafie) che scegliamo a seconda dei progetti.<br/>
                                Se ti interessa collaborare con noi puoi inviare la tua candidatura a questa email:<br/>
                                <a href="mailto:info@pontedilana.it">info@pontedilana.it</a>
                            </p>
                            <p>
                                Noi rispondiamo sempre :)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {#/entra nel nostro team#}

    </main>

    {{ include("frontend/common/_footer.html.twig") }}

{% endblock %}
