/* Boostrap overrides */
$custom-file-text: (
        en: "Browse",
        it: "Sfoglia"
);

/* Color Variables */
$primary: #13527C;
$text: #141414;

$secondary: #e8e8e8;

/* Hamburgers Overrides */
$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $primary;
$hamburger-active-layer-color: $primary;
$hamburger-hover-opacity: 1;

/*$theme-colors: (
        "primary": $primary,
        "secondary": $secondary
);*/

$enable-rounded: false;
$enable-responsive-font-sizes: true;

$select-border-radius: 0;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1650px,
        x4l: 1920px,
        x5l: 2880px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px,
        xxxl: 1600px,
        x4l: 1900px,
        x5l: 2840px,
);
