.casistudio {

    h3 {
        margin-bottom: 1em;
        font: $font_weight_extra-light 35px $font_family_worksans;
        @include media-breakpoint-down(lg) {font-size: 30px;}
    }

    &_banner {
        margin: 0;
        img {
            aspect-ratio: 13/5;
            @include media-breakpoint-down(lg) {aspect-ratio: 64/55;}
        }
    }

    &_breadcrumb {
        margin: 0 0 2em 0;
        border-bottom: 1px solid rgba(0,0,0,.25);
        nav {
            ol {
                width: auto;
                padding: 1em 0;
                margin-bottom: 0;
                float: left;
                li {
                    font-size: 25px;
                    @include media-breakpoint-down(lg) {font-size: 18px;}
                    &.active {
                        &:before {display: none;}
                        h1 {
                            margin-bottom: 0;
                            padding: 0;
                            font: $font_weight_medium 25px $font_family_worksans;
                            color: $primary;
                            @include media-breakpoint-down(lg) {font-size: 18px;}
                            i {
                                font-style: normal;
                                @include media-breakpoint-down(lg) {display: none;}
                            }
                        }
                    }
                    span {
                        font-weight: $font-weight_extra-light;
                        color: $text;
                        text-decoration: none;
                    }
                    svg {
                        height: 20px;
                        color: rgba(0,0,0,.6);
                    }
                }
            }
        }
    }

    &_info {
        margin: 3em 0 2em 0;
        img {
            @include media-breakpoint-down(xl) {margin-bottom: 2em;}
        }
        p {
            &.client {
                &:after {
                    content: '';
                    display: block;
                    width: 100px;
                    margin: 1em 0 0 0;
                    border-bottom: 2px solid rgba(0,0,0,.2);
                }
            }
            b {
                display: block;
                @include media-breakpoint-down(xl) {display: inline;}
            }
        }
        ul {
            list-style: none;
            margin-top: .25em;
            padding-left: 0;
            li {
                font-weight: $font-weight_regular;
                margin-bottom: .25em;
            }
        }
    }

    &_obiettivi {
        margin: 0 0 3em 0;
        padding: 2em 0;
        background: rgba(0,0,0,.075);
        h2 {
            padding-bottom: 0;
            font-size: 35px;
            line-height: normal;
        }
        p {
            &:last-of-type {margin-bottom: 0;}
        }
        &_risultati {color: $primary;}
    }

    &_layout01 {
        margin: 0 0 4em 0;
        p {
            margin-bottom: 2.5em;
            b {color: $text;}
        }
        &_first-img {
            z-index:1;
            @include media-breakpoint-down(lg) {margin-bottom: 1em;}
        }
        &_simbol {
            @include media-breakpoint-down(lg) {margin-bottom: 1em;}
            img {
                margin-top: 5em;
                @include media-breakpoint-down(xxl) {margin-top: 0;}
            }
        }
        &_last-img {
            margin-top: -10em;
            z-index: 0;
            @include media-breakpoint-down(lg) {margin-top: 0;}
            &_mtn4 {margin-top: -4em;}
        }
    }

    &_layout02 {
        margin: 0 0 4em 0;
        p {
            b {color: $text;}
            &:last-of-type {margin-bottom:0;}
        }
        &_logo {
            img {width: 80%;}
        }
        &_loghi {
            margin: 4em 0;
            @include media-breakpoint-down(lg) {margin: 2em 0;}
            @include media-breakpoint-down(md) {
                &:first-of-type {margin-bottom: 0;}
            }
            img {width: 90%;}
        }
        img.img-fluid {
            @include media-breakpoint-down(md) {margin-top: 1.5em;}
        }
        .double-img {
            img {
                object-fit: cover;
                height: 650px;
                margin-top: 0;
                @include media-breakpoint-down(xxl) {
                    object-fit: contain;
                    height: auto;
                }
            }
        }
    }

    &_layout03 {
        margin: 0 0 4em 0;
        p {
            b {color: $text;}
            &:last-of-type {
                margin-bottom: 2.5em;
                span {
                    font-weight: $font-weight_regular;
                    color: rgba(#141414,.8);
                    text-transform: uppercase;
                }
            }
        }
        img {width: 100%;}
        .ratio {
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0,0,0,.15);
            &.custom {--bs-aspect-ratio: 61.975%;}
        }
        .mediastar {
            margin-bottom: 2em;
            &_tit {
                span {
                    @include media-breakpoint-down(md) {display: block;}
                }
                b {
                    font-weight: $font-weight_regular;
                    @include media-breakpoint-down(md) {display: none;}
                }
            }
            ul {
                list-style: none;
                padding: 0;
                float: left;
                li {
                    display: inline;
                    margin: 0 1.5em;
                    float: left;
                    @include media-breakpoint-down(lg) {margin: 0 .5em;}
                    img {
                        width: 45px;
                        height: 68px;
                        margin-bottom: 1em;
                    }
                    p {
                        margin-bottom: 0;
                        font-weight: $font-weight_regular;
                        font-size: 18px;
                        line-height: 20px;
                        color: $primary;
                        @include media-breakpoint-down(lg) {
                            font-size: 16px;
                            line-height: 18px;
                        }
                        b {
                            font-weight: $font-weight_semi-bold;
                            color: $primary;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    &_cta {
        a {
            display: inline-block;
            width: auto;
            font-weight: $font-weight_extra-light;
            font-size: 30px;
            color: $text;
            text-decoration: none;
            svg {
                transition: all .25s ease;
                height: 36px;
                padding-top: .5em;
                color: rgba(0,0,0,.6);
            }
            &:hover {
                color: $primary;
                svg {
                    margin-left: 10px;
                    color: $primary;
                }
            }
        }
    }

    .cta {
        @extend %cta;
        margin-bottom: 4em;
    }

}
