.chisiamo {

    .intro {
        @include media-breakpoint-down(lg) {margin-top: 2.5em;}
        p {
            &:first-of-type {
                font-size: 25px;
                color: $primary;
                line-height: 34px;
            }
            &:last-of-type {margin-bottom: 0;}
        }
    }

    .qualita {
        padding: 4em 0;
        color: #fff;
        background: $primary;
        h2 {
            padding-bottom: 1em;
            color: #fff;
            text-align: center;
            @include media-breakpoint-down(lg) {text-align: left;}
        }
        p {
            b {color: #fff;}
        }
    }

    .nonsiamo {
        @include media-breakpoint-down(lg) {margin-bottom: 1em;}
        h2 {
            padding-bottom: 1em;
            text-align: center;
            @include media-breakpoint-down(lg) {
                text-align: left;
            }
        }
        h3 {
            width: 100%;
            font-size: 26px;
            color: $primary;
        }
        p {
            padding-bottom: 1em;
            &:after {
                content: '';
                display: block;
                width: 25%;
                margin: 1em 0 0 0;
                border-bottom: 3px solid $primary;
                @include media-breakpoint-down(lg) {
                    padding-bottom: 1em;
                }
            }
        }
    }

    .cta {
        @extend %cta;
        margin-bottom: 4em;
    }

}
