body, html {
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font: $font_weight_light 20px $font_family_worksans;
    color: $text;
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

h1, h2 {
    padding-bottom: .25em;
    font: $font_weight_regular 60px/64px $font_family_lora;
    color: $primary;
    @include media-breakpoint-down(lg) {
        font-size: 40px;
        line-height: 46px;
    }
    span {
        font: $font_weight_bold 22px $font_family_worksans;
        color: #76777c;
        text-transform: uppercase;
        @include media-breakpoint-down(lg) {
            font-size: 20px;
            line-height: 26px;
        }
    }
}

h3, h4 {font: $font_weight_regular 30px $font_family_lora;}

p {
    line-height: 28px;
    b {
        font-weight: $font_weight_semi-bold;
        color: $primary;
    }
}

a {
    transition: all .25s ease;
    &.btn {
        padding: 1em 2em;
        font-weight: $font_weight_medium;
        font-size: 24px;
        background: #fff;
    }
}

a[href^="tel"] {
    cursor: default;
    color: $text;
    text-decoration: none;
    &:hover {color: $text!important;}
}

.anchor {
    visibility: hidden;
    position: relative;
    margin-top: -110px;
    float: left;
}

figure {
    margin-bottom: 0;
    figcaption {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}

.list-links {
    margin-top: 3em;
    margin-bottom: 3em;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            margin: 0;
            padding: 0 .5em;
            border-right: 1px solid $primary;
            float: left;
            @include media-breakpoint-down(lg) {
                display: block;
                padding: 0 0 .5em 0;
                border: 0;
                text-align: center;
                float: none;
            }
            &:last-child {border: 0;}
            a {
                width: auto;
                margin: 0;
                font-size: 18px;
                font-weight: $font_weight_regular;
                text-decoration: none;
                &:after {
                    transition: all 0.25s ease;
                    content: '';
                    display: block;
                    width: 100%;
                    border-bottom: 2px solid #fff;
                }
                &:hover {
                    &:after {
                        border-bottom-color: $primary;
                        @include media-breakpoint-down(lg) {border-bottom-color: #fff;}
                    }
                }
                &.active {
                    cursor: default;
                    color: $primary;
                    @include media-breakpoint-down(lg) {
                        font-size: 22px;
                        font-weight: $font_weight_medium;
                    }
                    &:after {
                        border-bottom-color: $primary;
                        @include media-breakpoint-down(lg) {border-bottom-color: #fff;}
                    }
                }
            }
        }
    }
}

%cta {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    background: rgba(0,0,0,.075);
    p {
        margin-bottom: 1em;
        font: $font_weight_regular 30px $font_family_lora;
        color: $primary;
        @include media-breakpoint-down(xl) {
            br {display: none;}
        }
        @include media-breakpoint-down(lg) {margin-bottom: 0;}
    }
    .btn {
        @include media-breakpoint-down(lg) {margin-top: 2em;}
    }
}
