.contatti {

    .forminfo {
        @include media-breakpoint-down(xl) {
            margin-top: 2.5em;
        }

        @import "cta-form";
        @import "cta-thanks";

        &_info {
            @include media-breakpoint-down(xl) {
                margin-top: 4em;
                padding-top: 4em;
                border-top: 1px solid $primary;
            }
            p {
                @include media-breakpoint-down(xl) {
                    text-align: center;
                }
                a {
                    color: $text;
                    text-decoration: none;
                    &:hover {color: $primary;}
                }
                &:after {
                    content: '';
                    display: block;
                    width: 25%;
                    margin: 1em 0 0 0;
                    border-bottom: 2px solid rgba(0,0,0,.2);
                    @include media-breakpoint-down(xl) {
                        margin: 0 auto;
                        padding-bottom: 1em;
                    }
                }
                &:last-of-type {
                    &:after {display: none;}
                }
            }
            ul {
                list-style: none;
                margin-bottom: 0;
                padding-left: 0;
                float: left;
                @include media-breakpoint-down(xl) {
                    width: 100%;
                }
                li {
                    display: inline;
                    height: 100%;
                    margin-right: 10px;
                    float: left;
                    @include media-breakpoint-down(xl) {
                        margin-right: 20px;
                        &:last-child {margin-right: 0;}
                    }
                    a {
                        float: left;
                        &:hover {color: $primary;}
                    }
                }
            }
        }
    }

    .team {
        padding: 2em 0;
        background: rgba(0,0,0,.075);
        h2 {
            font: $font_weight_light 46px $font_family_worksans;
            br {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
        p {
            a {
                font-weight: $font_weight_medium;
                text-decoration: none;
                &:hover {color: $text;}
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}
