.cosafacciamo {

    .intro {
        margin-top: 2.5em;
        img {
            width: 140px;
            margin-top: 2em;
            @include media-breakpoint-down(lg) {
                width: 60%;
                margin-top: 0;
            }
        }
        p {
            &.subtitle {
                font-size: 25px;
                color: $primary;
                line-height: 34px;
                &_linee {
                    @include media-breakpoint-down(lg) {
                        font-weight: $font_weight_medium;
                        &:after {
                            content: '';
                            display: block;
                            width: 50%;
                            margin: .5em 0 0 0;
                            padding-bottom: .25em;
                            border-bottom: 3px solid $primary;
                        }
                    }
                }
                br {
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }
        }
    }

    .cta {
        @extend %cta;
        background: $primary;
        p {color: #fff;}
        .btn {
            &:hover {border-color: #fff;}
        }
    }

    .caratteristiche {
        margin-top: 0;
        padding: 2.5em 0 0 0;
        border-top: 1px solid $primary;
        h2 {
            padding-bottom: 1em;
            text-align: center;
            @include media-breakpoint-down(lg) {
                text-align: left;
            }
        }
        h3 {
            width: 100%;
            font-size: 26px;
            color: $primary;
        }
        p {
            padding-bottom: 1em;
            &:after {
                content: '';
                display: block;
                width: 25%;
                margin: 1em 0 0 0;
                border-bottom: 3px solid $primary;
                @include media-breakpoint-down(lg) {
                    padding-bottom: 1em;
                }
            }
        }
    }

    .app {
        h3 {
            width: 100%;
            font-size: 26px;
            color: $primary;
        }
        p {
            &.subtitle {
                font-size: 25px;
                color: $primary;
                line-height: 34px;
                &_linee {
                    @include media-breakpoint-down(lg) {
                        font: $font_weight_regular 40px/46px $font_family_lora;
                        /*&:after {
                            content: '';
                            display: block;
                            width: 50%;
                            margin: .5em 0 0 0;
                            padding-bottom: .25em;
                            border-bottom: 3px solid $primary;
                        }*/
                    }
                }
                br {
                    @include media-breakpoint-down(lg) {display: none;}
                }
            }
        }
    }

    &_web {
        .intro {margin-bottom: 1em;}
        .caratteristiche {
            @include media-breakpoint-down(lg) {
                margin-bottom: .5em;
                padding-top: 3.5em;
            }
        }
    }

    &_strategia {
        .intro {
            img {width: 180px;}
        }
    }

}
