.thankyou-message {
    &:before {
        content: '';
        display: block;
        width: 25%;
        margin: 0 0 1em 0;
        padding-top: 1em;
        border-bottom: 2px solid rgba(0,0,0,.2);
    }
  h4 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: $primary;
    background: none;
    /*@include media-breakpoint-down(md) {text-align: left;}*/
    &:first-of-type {
      @include media-breakpoint-down(md) {font-size: 34px;}
    }
    &:last-of-type {
      font-size: 38px;
      @include media-breakpoint-down(lg) {font-size: 28px;}
    }
  }
  hr {display: none;}
}
