&_form {
    p {
        font-size: 25px;
        color: $primary;
        line-height: 34px;
        &.respect {
            font-size: 18px;
            line-height: 24px;
        }
    }
    form {margin-top: 2.5em;}
    label {
        font-weight: $font_weight_light;
        line-height: 30px;
    }
    input[type=text], input[type=email], input[type=number], textarea {
        resize: none;
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,.25);
        border-radius: 4px;
        font-weight: $font_weight_regular;
        background: rgba(0,0,0,.035);
        &:focus {
            border: 1px solid $primary;
            box-shadow: none;
            background: none;
        }
    }
    textarea {height: 10em;}
    .form-check {
        margin-top: 1em;
        margin-bottom: 2em;
        &-input {
            margin-top: 2px;
            border-color: #000;
            &:focus {box-shadow: none;}
        }
        &-label {
            font-weight: $font_weight_light;
            font-size: 18px;
            line-height: 24px;
            a {
                text-decoration: none;
                &:hover {color: #000;}
            }
        }
    }
    .form-btn {
        text-align: right;
        button {
            padding: .5em 3em;
            border-radius: 2px;
            font-size: 30px;
            font-weight: $font_weight_medium;
            color: #fff;
            text-transform: uppercase;
            @include media-breakpoint-down(md) {width: 100%;}
            &:hover {
                color: $primary;
                background: #fff;
            }
        }
    }
}

//@import "cta-thanks";
