
.error {
    //margin-top: 4em;
    //margin-bottom: 4em;
    background: rgba(0,0,0,.05);
  h1 {
      font-size: 80px;
      font-weight: $font_weight_regular;
      line-height: 80px;
  }
  a {
      font-weight: $font_weight_regular;
      color: $primary;
      text-decoration: none;
      &:hover {color: #000;}
  }
}
