// Lora
@import "~@fontsource/lora/400.css";
@import "~@fontsource/lora/500.css";
@import "~@fontsource/lora/600.css";

// Work Sans
@import "~@fontsource/work-sans/200.css";
@import "~@fontsource/work-sans/300.css";
@import "~@fontsource/work-sans/400.css";
@import "~@fontsource/work-sans/500.css";
@import "~@fontsource/work-sans/600.css";

$font_family_lora: 'Lora';
$font_family_worksans: 'Work Sans';

$font_weight_extra-light: 200;
$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semi-bold: 600;
