footer {
    padding-top: 2.5em;
    .container {
        padding-bottom: 2em;
        p {
            width: 100%;
            margin-top: 1em;
            margin-bottom: 0;
            font-weight: $font_weight_light;
            font-size: 18px;
            line-height: 26px;
            color: $text;
            float: left;
            b {
                font-size: 22px;
                font-weight: $font_weight_medium;
                color: $primary;
            }
            a {
                color: $text;
                text-decoration: none;
                &:hover {color: $primary;}
            }
        }
        .partner {
            margin-top: 1em;
            p {
                b {
                    font-weight: $font_weight_medium;
                    font-size: 14px;
                    color: rgba(0,0,0,.8);
                    text-transform: uppercase;
                }
            }
            ol {
                list-style: none;
                width: 100%;
                margin: .5em 0 0 0;
                padding: 0;
                text-align: center;
                float: left;
                li {
                    display: inline-block;
                    margin: 0 .5em;
                    a {float: left;}
                    img {
                        vertical-align: bottom;
                        width: 160px;
                        @include media-breakpoint-down(md) {width: 130px;}
                    }
                }
            }
        }
        &-fluid {
            padding-top: 1.2em;
            padding-bottom: .8em;
            background: $primary;
            a {
                text-decoration: none;
                color: #fff;
            }
            ul {
                list-style: none;
                width: 100%;
                margin: 0 0 .5em 0;
                padding: 0;
                float: left;
                li {
                    display: inline;
                    margin: 0 .4em;
                    a {
                        margin: 0;
                    }
                }
            }
            p {
                width: 100%;
                margin-bottom: 0;
                font-weight: $font_weight_light;
                color: #fff;
                float: left;
                span {
                    font-size: 16px;
                    svg {font-size: 12px;}
                }
                a {
                    font-size: 16px;
                    &:hover {text-decoration: underline;}
                }
            }
        }
    }
}
