header {
    background: #fff;
    &.fixed-top {
        top: -100px;
        transform: translateY(100px);
        transition: transform .5s;
        box-shadow: rgba(0, 0, 0, .15) 0 10px 10px -10px;
        background: #fff;
    }
    .navbar {
        &-brand {
            img {width: 220px;}
        }
        &-toggler {
            padding-right: 0;
            padding-left: 0;
            border: 0;
            &:focus {
                outline: none!important;
                box-shadow: none!important;
            }
            svg {
                width: 28px;
                color: $primary;
            }
            &[aria-expanded="true"] {
                .fa-bars {display: none;}
            }
            &[aria-expanded="false"] {
                .fa-xmark {display: none;}
            }
        }
        &-nav {
            @include media-breakpoint-down(xl) {
                padding-top: 1em;
            }
            .nav-item {
                .nav-link {
                    font: 18px $font_family_worksans;
                    color: $primary;
                    @include media-breakpoint-down(xl) {
                        display: block;
                        width: 100%;
                        font-size: 22px;
                        border-bottom: 2px solid rgba(0,0,0,.075);
                        float: left;
                    }
                    &:hover, &:focus, &.active {
                        outline: none!important;
                        box-shadow: none!important;
                        span {
                            &:after {border-bottom-color: $primary;}
                        }
                        color: $primary!important;
                    }
                    &:after {display: none;}
                    span {
                        &:after {
                            transition: all 0.25s ease;
                            content: '';
                            display: block;
                            width: 100%;
                            border-bottom: 2px solid #fff;
                            @include media-breakpoint-down(xl) {display: none;}
                        }
                    }
                }
            }
            .social {
                list-style: none;
                height: 100%;
                padding-bottom: .5em;
                padding-left: 0;
                float: left;
                @include media-breakpoint-down(xl) {
                    padding-top: .5em;
                }
                li {
                    display: inline;
                    height: 100%;
                    margin-left: 10px;
                    float: left;
                    @include media-breakpoint-down(xl) {
                        margin-right: 20px;
                        margin-left: 20px;
                    }
                    a {
                        margin-top: 9px;
                        float: left;
                        &:hover {color: $primary;}
                    }
                }
            }
            .dropdown {
                &-toggle {
                    cursor: default;
                    color: $primary;
                    &.show {border-bottom: 0;}
                }
                &-menu {
                    border: 0!important;
                    border-bottom: 1px solid rgba(0,0,0,.055)!important;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    box-shadow: rgba(0, 0, 0, .15) 0 10px 10px -10px;
                    @include media-breakpoint-down(xl) {
                        padding: .35em 0 0 0;
                        border-bottom: 0!important;
                        box-shadow: none;
                        float: left;
                    }
                }
                &-item {
                    display: block;
                    width: 100%;
                    padding: .35rem 1rem;
                    font-size: 17px;
                    color: $primary!important;
                    float: left;
                    @include media-breakpoint-down(xl) {
                        padding: 0 0 .75em 0;
                        font-weight: $font_weight_light;
                        font-size: 20px;
                    }
                    &:hover, &.active {
                        background: rgba(0,0,0,.05);
                        @include media-breakpoint-down(xl) {background: #fff;}
                    }
                }
                // dropdown on hover
                &:hover .dropdown-menu {
                    @include media-breakpoint-up(xl) {display: block;}
                }
            }
        }
    }
}
