.homepage {

    .intro {
        height: 94vh;
        margin: 0;
        @include media-breakpoint-down(xl) {
            height: auto;
            margin-top: 2.5em;
        }
        .col-12 {
            position: relative;
            height: 94vh;
            @include media-breakpoint-down(xl) {height: auto;}
            div {
                width: 70%;
                margin-top: 8%;
                @include media-breakpoint-down(xxl) {margin-top: 5%;}
                @include media-breakpoint-down(xl) {width: 100%;}
                h1 {width: 100%;}
                p {
                    width: 60%;
                    @include media-breakpoint-down(xxl) {width: 70%;}
                    @include media-breakpoint-down(xl) {width: 100%;}
                }
            }
            img {
                transform: translateX(12%) scaleX(-1);
                position: absolute;
                width: 90%;
                right: 0;
                bottom: 0;
                z-index: -1;
                @include media-breakpoint-down(xl) {
                    transform: translateX(0) scaleX(-1);
                    position: relative;
                    float: right;
                }
            }
        }
    }

    &_cta {
        margin: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        background: rgba(0,0,0,.075);
        p {
            margin-bottom: 0;
            color: $primary;
        }
        .btn {
            @include media-breakpoint-down(lg) {margin-top: 2em;}
        }
    }

    .cosa-facciamo {
        padding-bottom: 2em;
        .col {
            @include media-breakpoint-down(xl) {
                margin-bottom: 3.5em;
                &:last-child {margin-bottom: 0;}
            }
        }
        a {
            margin: 0 auto;
            text-decoration: none;
            @include media-breakpoint-down(xl) {text-align: center;}
            div {
                margin-bottom: .5em;
                @include media-breakpoint-down(xl) {text-align: center;}
                &.analisi {
                    img {width: 72px;}
                }
                &.design {
                    img {width: 58px;}
                }
                &.sviluppo {
                    img {width: 77px;}
                }
                &.marketing {
                    img {width: 113px;}
                }
            }
            h3 {
                display: block;
                margin-bottom: .5em;
                font: $font_weight_medium 35px/36px $font_family_lora;
                color: $primary;
                br {
                    @include media-breakpoint-down(xl) {display: none;}
                }
            }
            svg {
                transition: all .25s ease;
                height: 36px;
                color: #979797;
            }
            &:hover {
                svg {
                    margin-left: 10px;
                    color: $primary;
                }
            }
        }
    }

    .casi-studio {
        h2 {margin-bottom: 1em;}
        .col {
            padding: .5em;
            a {
                position: relative;
                float: left;
                p {
                    transition: all .25s ease;
                    position: absolute;
                    width: 100%;
                    height: 0;
                    bottom: 0;
                    left: 0;
                    margin-bottom: 0;
                    padding: 0;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    font: $font_weight_regular 18px/24px $font_family_worksans;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    background: $primary;
                    @include media-breakpoint-down(lg) {
                        height: auto;
                        padding: .5em 0;
                    }
                    span {
                        visibility: hidden;
                        @include media-breakpoint-down(lg) {visibility: visible;}
                    }
                }
                &:hover {
                    p {
                        height: auto;
                        padding: .5em 0;
                        span {visibility: visible;}
                        @include media-breakpoint-down(lg) {display: none;}
                    }
                }
            }
        }
    }

    .servizi {

        .masonry {
            transition: all .5s ease-in-out;
            column-fill: initial;
            column-count: 3;
            column-gap: 1.5em;
            @include media-breakpoint-down(xxl) {column-count: 2;}
            @include media-breakpoint-down(lg) {column-count: 1;}
            .item {
                display: inline-block;
                margin-bottom: 1.5em;
                vertical-align: top;
                a {
                    text-decoration: none;
                    float: left;
                    .card {
                        transition: all .25s ease;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        background: rgba(0,0,0,.0375);
                        &-title {
                            padding-bottom: .25em;
                            font: $font_weight_regular 30px $font_family_lora;
                            color: $primary;
                            text-align: center;
                            &:after {
                                transition: all .25s ease;
                                content: '';
                                display: block;
                                width: 50%;
                                margin: .75em auto 0 auto;
                                border-bottom: 3px solid #fff;
                            }
                        }
                        &-subtitle {
                            margin-top: 1em;
                            font-weight: $font_weight_regular;
                            font-size: 20px;
                            color: $primary;
                            text-align: center;
                        }
                        &-text {
                            margin-top: 1em;
                            color: $text;
                        }
                    }
                    &:hover {
                        .card {
                            background: #fff;
                            &.nth1 {background: rgba(192,219,218,.42);}
                            &.nth2 {background: rgba(247,181,0,.14);}
                            &.nth3 {background: rgba(182,87,87,.1);}
                            &.nth4 {background: rgba(68,208,206,.16);}
                            &.nth5 {background: rgba(68,99,208,.1);}
                            &.nth6 {background: rgba(19,82,124,.1);}
                            &.nth7 {background: rgba(144,227,37,.1);}
                            &.nth8 {background: rgba(48,198,200,.1);}
                            &.nth9 {background: rgba(222,157,21,.1);}
                            &-title {
                                &:after {border-bottom-color: $primary;}
                            }
                        }
                    }
                }
            }
        }

    }

    .clienti {
        p {
            padding-bottom: 2em;
            font: $font_weight_regular 24px $font_family_worksans;
            color: $primary;
            text-align: center;
        }
        .col {
            margin: auto 0;
            padding-bottom: 2em;
            text-align: center;
            float: left;
            &:nth-child(5) {
                img {width: 150px;}
            }
        }
    }

    .cta {
        @extend %cta;
        margin-bottom: 4em;
    }

}
