.iubenda {

    &_intro {
        margin-top: 0;
        padding: 4em 0 2em 0;
        background: $primary;
        h1 {color: #fff;}
        p {
            font-weight: $font_weight_extra-light;
            font-size: 25px;
            color: #fff;
            line-height: 34px;
            b {
                font-weight: $font_weight_medium;
                color: #fff;
            }
            &:last-child {margin-bottom: 0;}
        }
    }

    &_cont {
        h2 {
            width: 100%;
            padding-bottom: 0;
            font-size: 44px;
            line-height: 48px;
            text-align: center;
            @include media-breakpoint-down(lg) {text-align: left;}
        }
        h3 {
            font: $font_weight_medium 24px $font_family_worksans;
            color: $primary;
        }
        p {
            i {font-weight: $font_weight_regular;}
            &.subtitle {
                width: 100%;
                margin-top: 1em;
                font-size: 25px;
                color: $primary;
                text-align: center;
                @include media-breakpoint-down(lg) {text-align: left;}
            }
        }
    }

    .cta {
        @extend %cta;
    }

}
