.mediastars {
    margin-top: 0;
    margin-bottom: 0;
    @include media-breakpoint-down(lg) {margin-top: 1em;}
    &_top {
        position: absolute;
        width: 100%;
        padding-right: .75em;
        padding-left: .75em;
        top: 1.5em;
        left: 0;
        float: left;
        @include media-breakpoint-down(lg) {
            padding-right: .25em;
            padding-left: .25em;
            top: .75em;
        }
        @include media-breakpoint-down(lg) {
            position: relative;
            top: 0;
            padding: .5em;
            border: 1px solid rgba($primary,.25);
            border-bottom: 0;
        }
        img {
            width: 270px;
            margin-left: 1.5em;
            float: left;
            @include media-breakpoint-down(lg) {
                width: 200px;
                margin-left: 0;
            }
            &:last-of-type {
                width: 86px;
                margin-left: 0;
                margin-right: 1.5em;
                float: right;
                @include media-breakpoint-down(lg) {width: 60px;}
                @include media-breakpoint-down(lg) {
                    width: 40px;
                    margin-right: 0;
                }
            }
        }
    }
    &_bottom {
        transform: translateY(50%);
        position: absolute;
        bottom: 50%;
        left: 7%;
        @include media-breakpoint-down(xxl) {
            transform: translateY(25%);
            bottom: 25%;
        }
        @include media-breakpoint-down(xl) {
            transform: translateY(20%);
            bottom: 20%;
            left: 2em;
        }
        @include media-breakpoint-down(lg) {
            padding: .5em;
            border-radius: 4px;
            background-color: rgba(255,255,255,.9);
        }
        @include media-breakpoint-down(md) {
            transform: none;
            position: relative;
            width: 100%;
            bottom: 0;
            left: 0;
            border: 1px solid rgba($primary,.25);
            border-top: 0;
            border-radius: 0;
            float: left;
            background-color: #fff;
        }
        &_loghi {
            margin-right: 1em;
            @include media-breakpoint-down(lg) {margin-right: 0;}
            @include media-breakpoint-down(md) {
                position: absolute;
                top: .5em;
                right: .5em;
                text-align: right;
            }
            img {
                margin: 0 .25em;
                @include media-breakpoint-down(lg) {
                    width: 30%;
                    margin: 0;
                }
            }
        }
        div {
            float: right;
            @include media-breakpoint-down(md) {float: left;}
            p {
                position: relative;
                &:first-of-type {
                    font-weight: $font_weight_light;
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    span {
                        display: block;
                        font-weight: $font_weight_medium;
                        font-size: 12px;
                    }
                }
                &:nth-child(2) {
                    font-size: 18px;
                    line-height: 22px;
                    color: $primary;
                    span {font-weight: $font_weight_semi-bold;}
                    b {font-weight: $font_weight_medium;}
                    &:after {
                        position: absolute;
                        content: "";
                        width: 100px;
                        height: 1px;
                        left: 0;
                        bottom: -10px;
                        background-color: $primary;
                    }
                }
                &:last-of-type {
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 18px;
                    color: $primary;
                    span {
                        font-weight: $font_weight_semi-bold;
                        font-size: 18px;
                        line-height: 22px;
                        text-transform: uppercase;
                    }
                    b {font-weight: $font_weight_medium;}
                }
            }
        }
    }
    picture {
        aspect-ratio: 13/4;
        float: left;
        @include media-breakpoint-down(lg) {
            aspect-ratio: 1/1;
            border: 1px solid rgba($primary,.25);
            border-top: 0;
            border-bottom: 0;
        }
    }
}
