.grecaptcha-badge {
    visibility: hidden;
}

footer {
    .ft-captcha {
        border-top: 1px solid rgba(255,255,255,.15);
        font-size: 12px;
        color: rgba(255,255,255,.8);
        background: $primary;
        .container {
            padding-bottom: 0;
            .captcha {
                padding: .6em 0;
                text-align: center;
            }
            a {
                color: rgba(255,255,255,.8);
                &:hover {text-decoration: none;}
            }
        }
    }
}
