<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Pontedilana{% endblock %} | Pontedilana</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block seo_keywords %}{% endblock %}">
    {{ include("frontend/common/_favicon.html.twig") }}
    {{ include("frontend/common/_opengraph.html.twig") }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

{% block body %}{% endblock %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": "{{ absolute_url(asset('build/images/logo-social.jpg')) }}",
        "name": "Pontedilana Srls",
        "description": "Agenzia di Marketing e Comunicazione su misura a Montebelluna, Treviso.",
        "telephone": "+39 0423 1916265",
        "email": "mailto:info@pontedilana.it",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Montebelluna, Italy",
            "addressRegion": "TV",
            "postalCode": "31044",
            "streetAddress": "Via San Vigilio, 6"
        },
        "vatID": "05064850265",
        "url": "https://www.pontedilana.it/",
        "logo": "{{ absolute_url(asset('build/images/logo-pontedilana.jpg')) }}",
        "sameAs": [
            "https://www.facebook.com/pontedilana/",
            "https://www.instagram.com/pontedilana/",
            "https://www.linkedin.com/company/pontedilana/",
            "https://www.youtube.com/channel/UCrEwZENcm7ofF35xryQ4sCw"
        ]
    }
</script>

</body>
</html>

