{% apply inky_to_html|inline_css(source('@mailassets/css/foundation-emails.min.css')) %}
    <style type="text/css">

        .header .columns {
            padding-bottom: 0;
        }

        .header p {
            color: #222;
            padding-top: 15px;
        }

        .header .wrapper-inner {
            padding: 20px;
        }

        .header .container {
            background: transparent;
        }

        .blue {
            color: #00517B !important;
        }
        .green {
            color: #00517B !important;
        }
    </style>

    <wrapper class="header">
        <container>
            <row class="collapse">
                <columns small="6">
                    <img src="{{ absolute_url(asset('build/images/logo-email.png')) }}">
                </columns>
                <columns small="6">
                    <p class="text-right blue">Nuova richiesta di contatto dal sito</p>
                </columns>
            </row>
        </container>
    </wrapper>

    <container>

        <spacer size="16"></spacer>

        <row>
            <columns small="12">
                <p class="lead green">Dati richiedente</p>
                <callout>
                    <p>
                        <strong>Nome</strong>: {{ ctaDTO.nome }}<br>
                        <strong>Email</strong>: <a href="mailto:{{ ctaDTO.email }}">{{ ctaDTO.email }}</a><br>
                        <strong>Telefono</strong>: {{ ctaDTO.telephone }}<br>
                        <strong>Richiesta</strong>: {{ ctaDTO.richiesta }}
                    </p>
                </callout>
                <p>
                    Privacy accettata: Confermo di aver preso visione dell'informativa sulla privacy alle ore {{ 'now'|date('H:i') }} di {{ 'now'|format_date('full') }} dall'indirizzo ip {{ clientIP }}
                </p>
            </columns>
        </row>
    </container>
{% endapply %}
